<form class="form-horizontal" id='client-form' action="<?= BASE_URL; ?>index/editar/<?= $this->usuario->IDUSUARIO ?>" method="POST">
 <fieldset>
    <legend>Editar Usuario</legend>
        <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />

        <div class="control-group">
        <label class="control-label" for="inputID">ID</label>
                <div class="controls">
                        <input type="text" class="input-small"  id="inputID" name='IDUSUARIO' value ='<?= $this->usuario->IDUSUARIO ?>' readonly>
                </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputDESCRIPCION">NOMBRE</label>
                <div class="controls">
                        <input type="text" class="input-large"  id="inputNOMBRE" name='NOMBRE' value='<?= $this->usuario->NOMBRE?>' >
                </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputPRECIO">ROL</label>
                <div class="controls">
                        <input type="text" class="input-small"  id="inputROL" name='ROL' value='<?= $this->usuario->ROL ?>'>
                </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputEDAD">ACTIVO</label>
                <div class="controls">
                        <input type="checkbox" class="input-large"  id="inputACTIVO" name='ACTIVO' '<?= ($this->usuario->ACTIVO)?checked:''; ?>'>
                </div>
        </div>
        <div class="control-group">
                   <div class="controls">
                         <button type="button"  id='enviar'  class="btn btn-primary pull-center">Enviar</button>
                         <button type="reset" class="btn btn-primary pull-center" >Borrar</button>
                         <a href="<?= BASE_URL ?>usuario/index" class="btn btn-primary pull-center" >Cancelar</a>
                   </div>
        </div>
</fieldset>
</form>
        