
	<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>IDUSUARIO</th>
					<th>NOMBRE</th>
					<th>ACTIVO</th>
					<th>ROL</th>
					<th>CREACION</th>
					<th>MODIF</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			
			
			
			<?php while($reg = $this->usuarios->fetch_object()):?>
				<tr>
					<td><?= $reg->IDUSUARIO?></td>
					<td><?= $reg->NOMBRE?></td>
					<td><?= ($reg->ACTIVO)?'ACTIVO':'INACTIVO';?></td>
					<td><?= $reg->ROL?></td>
					<td><?= $reg->FECHACREACION?></td>
					<td><?= $reg->FECHAMODIFICACION?></td>
					<td><a href="<?=BASE_URL?>usuario/deleteUsuario/<?= $reg->IDUSUARIO;?>"><i class="icon-remove"></i>ELIMINAR</a></td>
					<td><a href="<?=BASE_URL?>usuario/editarUsuario/<?= $reg->IDUSUARIO;?>"><i class="icon icon-trash"></i>EDITAR</a> </td>
				</tr>     
			<?php endwhile;?>	
					
				
			</tbody>
		</table>
