<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>IdUsuario</th>
					<th>Nombre</th>
					<th>Rol</th>
					<th>Activo</th>
					<th>Fecha Operacion</th>
					<th>Fecha Actualizacion</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			
			
			<!--  la variable $this->usuarios : viene del controlador.-->
			<?php while($reg = $this->usuarios->fetch_object()):?>
				<tr>
					<td><?= $reg->IDUSUARIO?></td>
					<td><?= $reg->NOMBRE?></td>
					<td><?= ($reg->ACTIVO)?'Activo':'Inactivo'?></td>
					<td><?= $reg->ROL?></td>
					<td><?= $reg->FECHACREACION?></td>
					<td><?= $reg->FECHAMODIFICACION?></td>
					<td><a href="<?= BASE_URL; ?>index/editar/<?= $reg->IDUSUARIO?>">Editar</a></td>
					<td><a href="<?= BASE_URL; ?>usuario/eliminar/<?= $reg->IDUSUARIO?>">Eliminar</a></td>
				</tr>     
			<?php endwhile;?>	
					
				
			</tbody>
		</table>
		
		<div class="pagination">
			<ul>
				<li><a href="<?= BASE_URL; ?>usuario/index/<?=$this->param['anterior']?>">Prev</a></li>
				<?php foreach ($this->param['rango'] as $pag):?>
				<li class=<?=($this->param['actual']==$pag)?'active':''?>><a href="<?= BASE_URL; ?>usuario/index/<?=$pag?>"><?= $pag?></a></li>
				<?php endforeach;?>	
				<li><a href="<?= BASE_URL; ?>usuario/index/<?=$this->param['siguiente']?>">Next</a></li>
			</ul>
		</div>
		
		
		