<form class="form-horizontal" id='client-form' action="<?= BASE_URL; ?>index/grabarRegistro" method='post' enctype="multipart/form-data" method="POST">
 <fieldset>
    <legend>Editar productos</legend>
	<input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
	
	<div class="control-group">
    	<label class="control-label" for="inputID">ID</label>
    		<div class="controls">
      			<input type="text" class="input-small"  id="inputID" name='IDPRODUCTO' value ="<?= $this->producto['IDPRODUCTO'] ?>" readonly>
    		</div>
  	</div>
  		
  	<div class="control-group">
    	<label class="control-label" for="inputDESCRIPCION">DESCRIPCION</label>
    		<div class="controls">
      			<input type="text" class="input-large"  id="inputDESCRIPCION" name='DESCRIPCION' value="<?= $this->producto['DESCRIPCION']?>" >
    		</div>
  	</div>
  		
  	<div class="control-group">
    	<label class="control-label" for="inputPRECIO">PRECIO</label>
    		<div class="controls">
      			<input type="text" class="input-small"  id="inputPRECIO" name='PRECIO' value="<?= $this->producto['PRECIO']?>" >
    		</div>
  	</div>	
  	
  	
  	<div class="control-group">
    	<label class="control-label" for="inputVIDEO">VIDEO</label>
    		<div class="controls">
      			<textarea  id="inputVIDEO" name='VIDEO' ><?= $this->producto['VIDEO'] ?></textarea>
    		</div>
  	</div>	
  	
  	<div class="control-group">
    	<label class="control-label" for="inputVIGENCIA">VIGENCIA</label>
    		<div class="controls">
      			<input type="text" class="input-large"  id="inputVIGENCIA" name='VIGENCIA' value="<?= $this->producto['VIGENCIA'] ?>" >
    		</div>
  	</div>	
  	
	<div class="control-group">
    	<label class="control-label" for="inputFABRICANTE">FABRICANTE</label>
    		<div class="controls">
      			<input type="text" class="input-large"  id="inputFABRICANTE" name='FABRICANTE' value="<?= $this->producto['FABRICANTE']?>" >
    		</div>
  	</div>	
  	
  	<div class="control-group">
    	<label class="control-label" for="inputIDIOMA">IDIOMA</label>
    		<div class="controls">
      			<input type="text" class="input-large"  id="inputIDIOMA" name='IDIOMA' value="<?= $this->producto['IDIOMA']?>" >
    		</div>
  	</div>
		
	<div class="control-group">
    	<label class="control-label" for="inputEDAD">EDAD</label>
    		<div class="controls">
      			<input type="text" class="input-large"  id="inputEDAD" name='EDAD' value="<?= $this->producto['EDAD'] ?>" >
    		</div>
  	</div>	
	
	<div class="control-group">
    	<label class="control-label" for="inputIMAGEN">IMAGEN</label>
    		<div class="controls">
      			<input type="FILE"   id="inputIMAGEN" name='foto' placeholder="" >
    		</div>
  	</div>	
		
	<div class="control-group">
  		   <div class="controls">
  			 <button type="button"  id='enviar'  class="btn btn-primary pull-center">Enviar</button>
  			 <button type="reset" class="btn btn-primary pull-center" >Borrar</button>
  		   </div>
  	</div>
</fieldset>	
</form>