<table border=1>
  <tr>
    <th>IDUSUARIO</th>
    <th>NOMBRE</th>
    <th>ROL</th>
    <th>FECHACREACION</th>
    <th>FECHAMODIFICACION</th>
    <th>ACTIVO</th>
    <th>OPCIONES</th>
  </tr>
  <? while($reg = $this->usuarios->fetch_object()):?>
  <tr>
    <td><?= $reg->IDUSUARIO?></td>
    <td><?= $reg->NOMBRE?></td>
    <td><?= $reg->ROL?></td>
    <td><?= $reg->FECHACREACION?></td>
    <td><?= $reg->FECHAMODIFICACION?></td>
    <td><?= ($reg->ACTIVO)?'SI':'NO' ?></td>
    <td><a href='<?= BASE_URL?>usuario/desactivar/<?=$reg->IDUSUARIO?>'>Desactivar</a></td>
  </tr>
  <? endwhile;?>
</table>