
	<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Vigencia</th>
					<th>Fabricante</th>
					<th>Idioma</th>
					<th>Edad</th>
					<th>Foto</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			
			
			
			<?php while($reg = $this->productos->fetch_object()):?>
				<tr>
					<td><?= $reg->IDPRODUCTO?></td>
					<td><?= $reg->DESCRIPCION?></td>
					<td><?= $reg->PRECIO?></td>
					<td><?= $reg->VIGENCIA?></td>
					<td><?= $reg->FABRICANTE?></td>
					<td><?= $reg->IDIOMA?></td>
					<td><?= $reg->EDAD?></td>
					<td><img src='<?= BASE_URL; ?>index/verFoto/<?= $reg->IDPRODUCTO?>'  width='50px' heigth='50px'></img></td>
					<td><a href='<?= BASE_URL; ?>index/editar/<?= $reg->IDPRODUCTO?>'>Editar</a> </td>
				</tr>     
			<?php endwhile;?>	
					
				
			</tbody>
		</table>
		
		
		<div class="pagination">
			<ul>
				<li><a href="<?= BASE_URL; ?>index/index/<?=$this->param['anterior']?>">Prev</a></li>
				<?php foreach ($this->param['rango'] as $pag):?>
				<li class=<?=($this->param['actual']==$pag)?'active':''?>><a href="<?= BASE_URL; ?>index/index/<?=$pag?>"><?= $pag?></a></li>
				<?php endforeach;?>	
				<li><a href="<?= BASE_URL; ?>index/index/<?=$this->param['siguiente']?>">Next</a></li>
			</ul>
		</div>
