<div class="well" >

	<?php if (isset($this->arrayCarro)):?>	
	<table>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Opciones</th>
			<th>&nbsp;</th>
			<th>Total</th>
		</tr>
	<?php foreach ($this->arrayCarro as $idproducto=>$producto):?>
		<tr>
			<td><?= $producto['descripcion']?></td>
			<td><?= $producto['cantidad']?> </td>
			<td>
				<a href="<?=BASE_URL?>index/carro/<?=$idproducto?>/add"><img src="<?= $_layoutParams['ruta_img']?>aumentar.png" alt="aumentar" title="aumentar"/></a>
				<a href="<?=BASE_URL?>index/carro/<?=$idproducto?>/remove"><img src="<?= $_layoutParams['ruta_img']?>restar.png" alt="aumentar" title="restar"/></a>
				<a href="<?=BASE_URL?>index/carro/<?=$idproducto?>/removeProd"><img src="<?= $_layoutParams['ruta_img']?>eliminar.png" alt="aumentar" title="eliminar"/></a>
			</td>
			<td>=</td>
			<td style="width: 10px"><?= $producto['importe'] ?></td>
		</tr>
	<?endforeach;	?>

		<tr>
			<td colspan="5">Total</td>
			<td><?=$this->importetotal?></td>
		</tr>	
						
	</table>
	<?endif;?>	
</div>
	<button onclick="window.location='<?= BASE_URL?>index/comprar'" class="btn success">Finalizar compra</button>
	<button onclick="window.location='<?= BASE_URL?>index/index'" class="btn success">Seguir comprando</button>
	
		