 <div class="container">
		<div class="row">
 		  <? if (isset($this->arrayCarro)):?>
  
  			<div class="span14" id="productos">
				<div class="well" >
			   	<form name='formTpv' method='post' action='https://www.sandbox.paypal.com/cgi-bin/webscr' style="border: 1px solid #CECECE;padding-left: 10px;">
					<input name="cmd" type="hidden" value="_cart"> 
					<input name="upload" type="hidden" value="1">
					<input name="business" type="hidden" value="pxfsanch20130412buy@gmail.com">
					<input name="shopping_url" type="hidden" value="http://fsanchez.hostzi.com/sesion5/app/vista/index.php">
					<input name="currency_code" type="hidden" value="USD">
					<input name="return" type="hidden" value="http://fsanchez.hostzi.com/carrito/index/exito">
					<input type='hidden' name='cancel_return' value='http://fsanchez.hostzi.com/carrito/cancelar'>
					<input name="notify_url" type="hidden" value="http://fsanchez.hostzi.com/carrito/paypalipn">
					<input name="rm" type="hidden" value="2">
            <? $contador = 0;?>
			<? foreach($this->arrayCarro as $idproducto=>$producto):?>
					<?$contador ++;	?>
					<input name="item_number_<?= $contador; ?>" type="hidden" value="<?= $idproducto ?>">
					<input name="item_name_<?= $contador; ?>" type="hidden" value="<?= $producto['descripcion'] ?>"> 
					<input name="amount_<?= $contador; ?>" type="hidden" value="<?= $producto['precio'] ?>"> 
					<input name="quantity_<?= $contador; ?>" type="hidden" value="<?= $producto['cantidad']; ?>">
			<?endforeach;?>
					<input type="submit" value="PayPal SandBox" class="btn success" >
				</form>	
				</div><!-- well -->
		</div> <!-- productos -->
		<? else:?>
		<p> No hay productos seleccionados</p>
	</div> <!-- row -->
  </div> <!-- /container -->
  
  
  
  
  <? endif;?>
  
  