<div class="container">
	<div class="span12">
		<div class="row">
				<div class="span6">
					<img src='<?= BASE_URL; ?>index/verFoto/<?= $this->producto->IDPRODUCTO?>' alt=""/>
				</div>
				<div class="span5">
					<h1><?= $this->producto->DESCRIPCION?></h1>
					<p><?= $this->producto->VIGENCIA;?></p>
					<p><?= $this->producto->PRECIO;?></p>
					<p><?= $this->producto->FABRICANTE;?></p>
					<p><?= $this->producto->IDIOMA;?></p>
					<p><?= $this->producto->EDAD;?></p>
					<a href="<?= BASE_URL;?>index/carro/<?=$this->producto->IDPRODUCTO;?>/add">COMPRALO AHORA</a>
				</div>		
		</div>
		<div class="span12" style="text-align:center;">
		<?php echo $this->producto->VIDEO;?>
		</div>
			
	</div>
</div>	<!-- fin del container -->
