<div class="container">
	<div class="row">
		<?php while($reg = $this->productos->fetch_object()):?>
			<div class="span4">
				<h3><?php echo $reg->DESCRIPCION;?></h3>
				<img src='<?= BASE_URL; ?>index/verFoto/<?= $reg->IDPRODUCTO?>' width='100px' height='100px' style='border:2px solid peru'/>
				<p><?php echo $reg->VIGENCIA;?></p>
				<p><?php echo $reg->PRECIO;?></p>
				<a class="btn" href='<?= BASE_URL; ?>index/detalle/<?= $reg->IDPRODUCTO?>'>detalle</a>
			</div>
		 <?php endwhile;?>
	</div>
</div>	