<form action=''>
<div>
	<select name='DEPARTAMENTO' id='departamento'>
		<option selected>Seleccione</option>
		<?php while($reg  =$this->departamentos->fetch_object()):?>
		<option value ='<?= $reg->DEPARTAMENTO ?>' ><?= $reg->NOMBRE?></option>
		<?php endwhile;?>
	</select>
</div>

<div>
	<select name='PROVINCIA' id='provincia'>

	</select>
</div>

<div>
	<select name='DISTRITO' id='distrito'>
	</select>
</div>

<div>
	<input type='text' name='LATITUD' id='latitud' readonly><br>
	<input type='text' name='LONGITUD' id='longitud' readonly><br>
	<input type='text' name='CALLE' id='calle'  /> 
	
</div>


</form>