<form action=''>
<div>
	<input type='text' name='LATITUD' id='latitud' readonly><br>
	<input type='text' name='LONGITUD' id='longitud' readonly><br>
	<input type='text' name='CALLE' id='calle'  /> 
</div>



</div>
</form>