
	<div id="carousel" class="showcase">
									<div class="showcase-slide">
				<div class="showcase-content">
					<a href=""><img src="<?= BASE_URL?>graph/grafico3" alt=""></a>
				</div>
				
				<div class="showcase-caption carousel-caption">
					<a href=""><h4>Grafico 3</h4>
					<p>Este es el grafico #3</p></a>
				</div>
			</div>
						<div class="showcase-slide">
				<div class="showcase-content">
					<a href=""><img src="<?= BASE_URL?>graph/grafico4" alt=""></a>
				</div>
				
				<div class="showcase-caption carousel-caption">
					<a href=""><h4>Grafico 4</h4>
					<p>Este es el grafico #4</</p></a>
				</div>
			</div>
						<div class="showcase-slide">
				<div class="showcase-content">
					<a href=""><img src="<?= BASE_URL?>graph/grafico5" alt=""></a>
				</div>
				
				<div class="showcase-caption carousel-caption">
					<a href=""><h4>Grafico 5</h4>
					<p>Este es el grafico # 5</p></a>
				</div>
			</div>
						
		</div>
		<!-- // end of slideshow-carousel -->